body{
  font-family: 'Roboto', sans-serif;
  background-color: #11265c;
  color: white;
}

.darkTheme{
  background-color: #ffffff;
  color: #000000
}

/* ******************** Common Style ******************* */
.box-shadow-style, a, .alphabet-link span , .browse-country img{
  box-shadow: 5px 5px 5px #05ff05, -5px -5px 5px #05ff05;
  color: #05ff05 !important;
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
  cursor: pointer; 
}
.box-shadow-style:hover, a:hover, .alphabet-link span:hover, .browse-country img:hover {
  box-shadow: 5px 5px 5px #ff3305, -5px -5px 5px #ff4805;
  color: #ff3305 !important;
}

.box-shadow-style:active, a:active, .alphabet-link span:active , .browse-country img:active{
  background-color: #fac745;
  color: #545422 !important;
}

img{
  width: 100%;
  padding: 5px;
  border-radius: 20px;
}

.alphabet-link span{
  padding: 0 10px;
  border-radius: 50%;
}
.browse-country img{
  width: 120px;
}

/* ******************** home section ******************* */

/* ******************** api section ******************* */
#api-section-display, #sorry-display{
  display: none;
}
#api-section article{
  margin: 20px 10px;
}

/* ******************** footer ******************* */
ul a{
  text-decoration: none;
}
