body{
  font-family: 'Roboto', sans-serif;
  background-color: #e2e2e2;
}

.darkTheme{
  background-color: #3a3a3a;
  color: #e2e2e2
}

/* ******************** Common Style ******************* */
.box-shadow-style, a, .alphabet-link span , .browse-country img{
  box-shadow: 1px 1px black, -1px -1px white;
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
  cursor: pointer; 
  color: rgb(0, 174, 255) !important;
}
.box-shadow-style:hover, a:hover, .alphabet-link span:hover, .browse-country img:hover {
  box-shadow: 1px 1px white, -1px -1px black;
  color: rgb(255, 23, 23) !important;
}

.box-shadow-style:active, a:active, .alphabet-link span:active , .browse-country img:active{
  background-color: #fac745;
  color: #545422 !important;
}

img{
  width: 100%;
  padding: 5px;
  border-radius: 20px;
}

.alphabet-link span{
  padding: 0 10px;
  border-radius: 50%;
}
.browse-country img{
  width: 120px;
}

/* ******************** home section ******************* */

/* ******************** api section ******************* */
#api-section-display, #sorry-display{
  display: none;
}
#api-section article{
  margin: 20px 10px;
}

/* ******************** footer ******************* */
ul a{
  text-decoration: none;
}
